<div *ngIf="categories" class="d-flex flex-md-grow-1 sidebar">
  <div class="flex-grow-1 list-group list-group-flush bg-white shadow-sm">
    <div class="list-group-item"><input class="form-control" name="search" [(ngModel)]="searchText" type="text" placeholder="Search for product..." (input)="searchForName()"/></div>
    <button class="list-group-item list-group-item-action" (click)="filterForCategory(undefined)">All Categories</button>
    <button *ngFor="let category of categories" class="list-group-item list-group-item-action" (click)="filterForCategory(category)">{{ category.name }}</button>
  </div>
</div>