
<ngb-carousel #carousel [interval]="3000" (slide)="onSlide($event)">
  <ng-template ngbSlide *ngFor="let img of images; index as i">
    <div class="carousel-caption">
      <h3 style="font-size: 40px;">{{ img.title }}</h3>
    </div>
    <div class="picsum-img-wrapper">
      <img style="height: 500px; width: 100%; object-fit: cover !important;" [src]="img.src" alt="My image {{i + 1}} description">
    </div>
  </ng-template>
</ngb-carousel>
<div class="d-flex justify-content-between flex-column flex-md-row align-items-center p-3 px-md-4 mb-3">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div *ngFor="let product of products" class="col mb-3">
        <div class="card rounded shadow-sm border-0">
          <div class="card-body p-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556485076/shoes-1_gthops.jpg" alt="" class="img-fluid d-block mx-auto mb-3">
            <h5> <a [routerLink]="'/products/' + product.id" class="text-dark">{{product.name}}</a></h5>
            <p class="small text-muted font-italic">{{product.description}}</p>
            <p class="small text-muted font-italic">{{product.price}},- Euro</p>
            <ul class="list-inline small">
              <li class="list-inline-item m-0"><fa-icon class="text-success" [icon]="faStar"></fa-icon><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><fa-icon class="text-success" [icon]="faStar"></fa-icon><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><fa-icon class="text-success" [icon]="faStar"></fa-icon><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><fa-icon class="text-success" [icon]="faStar"></fa-icon><i class="fa fa-star text-success"></i></li>
              <li class="list-inline-item m-0"><fa-icon class="text-success" [icon]="faStar"></fa-icon><i class="fa fa-star text-success"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

