
<div class="d-flex flex-md-row flex-column h-100">
  <div class="d-flex flex-grow-1 flex-md-grow-0">
    <app-sidebar class="d-flex flex-grow-1 flex-md-grow-0 flex-column" (onFilterUpdate)="filterProducts($event!)"></app-sidebar>
  </div>
  <div class="container">
    <div class="justify-content-between align-items-center p-3 px-md-4 mb-3">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 mb-3 text-center">
        <div *ngFor="let product of products" class="d-flex col mb-3">
          <div class="card rounded shadow-sm border-0 flex-grow-1">
            <div class="card-body p-4 d-flex flex-column">
              <div class="flex-grow-1 align-items-center d-flex">
                <img src="{{ product.image }}" alt="" class="img-fluid d-block mx-auto mb-3">
              </div>
              <h5> <a [routerLink]="'/products/' + product.id" class="text-dark">{{product.name}}</a></h5>
              <p class="small text-muted font-italic">{{product.description}}</p>
              <h6 class="text-success">{{product.price / 100}},- Euro</h6>
              <app-rating [rating]="product.average_rating"></app-rating>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


