<div *ngIf="product" class="container mt-3">
    <div class="card bg-white">
        <div class="card-body">
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col">
                    <img src="https://res.cloudinary.com/mhmd/image/upload/v1556485076/shoes-1_gthops.jpg" alt="" class="img-fluid d-block mx-auto mb-3">
                </div>
                <div class="col">
                    <h4>{{ product!.name }}</h4>
                    <hr>
                    <app-rating [rating]="product.average_rating"></app-rating>
                    <h6 class="text-success">{{ product!.price }},- EURO</h6>
                    <p>{{ product!.description }}</p>
                    <button *ngIf="user; else loginRequired" class="btn btn-primary" (click)="addToShoppingCard(product!)">Add to basket</button>
                    <ng-template #loginRequired>
                        <button class="btn btn-primary" [disabled]="true">Add to basket (login/registration required)</button>
                    </ng-template>
                </div>
            </div>
            <ng-container *ngIf="user && product">
                <app-rating-form [user]="user" [product]="product" (onCreateRating)="addRating($event)"></app-rating-form>
            </ng-container>
            <div class="row">
                <div class="col">
                    <h5>Ratings</h5>
                    <hr>
                </div>
            </div>
            <div class="row row-cols-1">
                <ng-container *ngIf="ratings && ratings.length > 0; else noRatings">
                    <div *ngFor="let rating of ratings" class="col">
                        <div class="d-flex">
                            <app-rating [rating]="rating.value"></app-rating>
                            <span> ~ by {{rating.user.name}}</span>
                        </div>
                        <hr>
                    </div>
                </ng-container>
                <ng-template #noRatings>
                    <div class="col">
                        <p>no ratings</p>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
